[Unit]
Description=omaorchestra agent coordinator daemon

[Service]
ExecStart=/usr/bin/omaorchestra daemon
Restart=on-failure

[Install]
WantedBy=default.target
